.side-nav {
  height: 100%;
  width: 20rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #232323;
  transition: 0.5s ease;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.side-nav-img {
  height: 175px;
  width: 175px;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  box-shadow: 5px 5px 15px #00000054;
}

.nav-title {
  font-family: 'Staatliches', cursive;
  font-size: 3rem;
  color: #e7e7e7;
}

.custom-nav-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #e7e7e7;
  transition: 0.2s ease;
  padding: 1rem;
}

.custom-nav-link:hover {
  background-color: #b1b1b138;
  border-radius: 4px;
}

.custom-nav-link:active {
  background-color: #2eb3b8;
  border-radius: 4px;
}

.link-active {
  background-color: #e7e7e7;
  border-radius: 4px;
  color: #232323 !important;
}

.custom-nav-link:visited {
  color: #e7e7e7;
}

@media only screen and (max-width: 992px) {
  .side-nav-img {
    display: none;
  }

  .custom-nav-link {
    display: inline;
    font-size: 1rem;
  }

  .custom-nav-link {
    padding: 0.5rem;
  }

  .side-nav {
    height: 10rem;
    width: 100%;
    flex-direction: row;
  }

  .side-nav-footer {
    display: none;
  }
}
